<h1><a href="/users/<%= @tweet.user.slug %>"><%= @tweet.user.username %></a> tweeted</h1>
<h2><%= @tweet.content %></h2>
<h3><%= @tweet.created_at.strftime('%m/%d/%Y - %I:%M%p') %></h3>
  <a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
  <br>
  <form action="/tweets/<%= @tweet.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
  </form>
<p><a href="/">Home</a></p>
